#day18Input {
  text-align: center;
  div {
    display: inline-block;
    width: 400px;
  }
  button {
    display: inline-block;
    font-size: 2em;
    padding: 0 30px;
    margin: 0 20px;
    border: none;
    background: white;
    &:hover{
      color: red;
    }
  }
  h1 {
    font-size: 1.5em;
    height: 100px;
  }
}

#day18Tooltip {
  background: #4A4A4A;
  color: #fff;
  display: none;
  font-size: 1.5em;
  padding: 10px;
  position: absolute;
}
