#day16 {
  path.countries {
       stroke-width: 1;
       stroke-opacity: 0.5;
       stroke: black;
       opacity: .5;
  }
  circle.cities {
       stroke-width: 1;
       stroke: black;
       fill: white;
  }
}

#day16Input {
  text-align: center;
}
